In [1]:
s1 = str()
print(s1)
s2 = str( 101030311245)
print(s2)

101030311245

In [2]:
t = 1,2 ,3
print(t)
t1 = (1,2 ,3)
print(t1)
#資料項目可以是相同類型的，也可以是不同類型的。
t2 = "east" ,"south" ,"west" ,"north"
print(t2)
t3= "0010110","張山","men" ,18
print(t3)
#可以定義空的元組，也可以定義巢狀的元組。
t4 = ()
print(t4)
t5 = 23,(5,8,6) ,18,6
print(t5)
t6 = t1,t2 ,t3,t4 ,t5
print(t6)

(1, 2, 3)
(1, 2, 3)
('east', 'south', 'west', 'north')
('0010110', '張山', 'men', 18)
()
(23, (5, 8, 6), 18, 6)
((1, 2, 3), ('east', 'south', 'west', 'north'), ('0010110', '張山', 'men', 18), (), (23, (5, 8, 6), 18, 6))

In [3]:
t7 = tuple( )
print(t7)
#將一個字串轉化為元組。
t7 = tuple( 'Python')
print(t7)

()
('P', 'y', 't', 'h', 'o', 'n')

In [4]:
print(t6[2])
print(t6[2][0])
t6[2] = t2

('0010110', '張山', 'men', 18)
0010110

TypeError: 'tuple' object does not support item assignment

In [5]:
L1 = ["one","two","Three","four","five"] #:由 5 個字串構成的串列
L2= [[1,2],[3,4],[5,6]] #由 3 個串列構成的巢狀串列
L3= ["apple",True,185,"ball",False,165,"car",True,176]     #混合類型的串列
L4 = [[ ] ,[ ],[ ]]	#巢狀空串列的串列
L5= [] #生成空的串列
print(L1)
print(L2)
print(L3)
print(L4)
print(L5)

['one', 'two', 'Three', 'four', 'five']
[[1, 2], [3, 4], [5, 6]]
['apple', True, 185, 'ball', False, 165, 'car', True, 176]
[[], [], []]
[]

In [6]:
L5= list()#生成空的串列，與 L5 = []功能相同
L6 = list( 'Pyhton') #將一個字串物件轉化為串列
L7 = list( ('he','her','here')) #將一個元組轉化為串列
print(L5)
print(L6)
print(L7)

[]
['P', 'y', 'h', 't', 'o', 'n']
['he', 'her', 'here']

In [7]:
L1 = ["one","two","three","four","five"] #:由 5 個字串構成的串列
L2= [[1,2],[3,4],[5,6]] #由 3 個串列構成的巢狀串列
print(L1[1])
print(L2[2][1])

two
6

In [8]:
L2[2] = 5
print(L2)
L2[0][0] = L2[0][1] * 10
print(L2)

[[1, 2], [3, 4], 5]
[[20, 2], [3, 4], 5]

In [9]:
L2 = L2 + [7,8] #將兩個串列的表項聯接為一個串列
print(L2)
L2 = L2 + [[ 9,10]]
print(L2)

[[20, 2], [3, 4], 5, 7, 8]
[[20, 2], [3, 4], 5, 7, 8, [9, 10]]

In [10]:
L2 [ 3 :3] = [6] #3:3 表示下標為 3 的位置，在此位置插入串列表項 6
print(L2)

[[20, 2], [3, 4], 5, 6, 7, 8, [9, 10]]

In [11]:
L2[2 :6] = []#使用 L2 中 2~5 的表項，將子序列通過設定操作更改為空序列
print(L2)

[[20, 2], [3, 4], [9, 10]]

In [12]:
L2[2:2] = [[ 5,6],[7,8]]
print(L2)

[[20, 2], [3, 4], [5, 6], [7, 8], [9, 10]]

In [13]:
len(L2)

5

In [14]:
print( 'wanger' in L3)
print(t2 in t6)
print(7 in L2)
print( [7,8] in L2)

False
True
False
True

In [15]:
t = []#初始化串列
t.append( 271) #增加 1 月份的用電量
t. extend ([151, 78,92,83,134,357,421,210,88,92,135 ]) #批量增加 2 -12 月份的用電量
print(t)
#修改 8 月份的用電量 421 為 425 
t.remove(421)
t.insert( 7,425)
print(t)
#求用電量最高的月份 maxm。
maxm = t. index( max(t)) + 1
print(maxm)
#按用電量從低到高排序。
s = t.copy( )
s.sort()
print(s)
#找出用電量最高的三個月。
s.reverse()
m1,m2,m3 = t. index( s[ 0]) + 1,t. index( s[ 1]) + 1,t. index( s[ 2]) + 1
print( m1,m2,m3)

[271, 151, 78, 92, 83, 134, 357, 421, 210, 88, 92, 135]
[271, 151, 78, 92, 83, 134, 357, 425, 210, 88, 92, 135]
8
[78, 83, 88, 92, 92, 134, 135, 151, 210, 271, 357, 425]
8 7 1

In [16]:
s1 = {2 ,4 ,6,8,10}
print( type( s1))
print(s1)
s2 = { 'hello'}
print(s2)

<class 'set'>
{2, 4, 6, 8, 10}
{'hello'}

In [17]:
s3 = set( 'hello')
print(s3) 
s5 = set(['he','hello','her','here'])
print(s5)

{'e', 'o', 'l', 'h'}
{'here', 'he', 'hello', 'her'}

In [18]:
L1   =   [1,2,3,4 ,1,2 ,3,4]
s4 = set(L1)
print(s4)
L2 = list(s4)
print(L2)

{1, 2, 3, 4}
[1, 2, 3, 4]

In [19]:
L2= list( set( L1))
print(L2)

[1, 2, 3, 4]

In [20]:
s6 = frozenset( ( 'MON' ,'TUE','WED' ,'THU''','FRI' ,'SAT','SUN'))
print(s6)

frozenset({'FRI', 'SUN', 'SAT', 'THU', 'TUE', 'WED', 'MON'})

In [21]:
print(s2)
print(s5)
print(s2<= s5) #判斷 s2 是否是 s5 的子集
print(s5 > s2) #判斷 s5 是否是 s2 的真超集合
s7 = {'hen','height','her'} #建立新的集合 s7 ，做以下操作。
s7|=s2 #將 s2 併入s7
print(s7)
print(s7&s5) #求 s7 和 s5 的交集
print(s7|s5)#求 s7 和 s5 的聯集
print(s7 - s5)#求 s7 中去除 s5 中有的元素
print(s7^s5) #求 s7  和 s5 的中各不相同的元素

{'hello'}
{'here', 'he', 'hello', 'her'}
True
True
{'hen', 'hello', 'height', 'her'}
{'hello', 'her'}
{'her', 'hello', 'here', 'height', 'hen', 'he'}
{'hen', 'height'}
{'here', 'height', 'hen', 'he'}

In [22]:
s8 = { 'he' ,'hello' ,'her' ,'here'}
print(s8)
print(s5)
print(s5 == s7)

{'here', 'he', 'hello', 'her'}
{'here', 'he', 'hello', 'her'}
False

In [23]:
print(s5) #set 物件
print(s6)  #   frozenset 物件
s9 = s6. union( s5)    #frozenset 物件呼叫 union 得到 frozenset 物件
print(s9)
s10 = s5. union( s6) # set 物件呼叫 union 得到 set 物件
print(s10)
print(s5) #呼叫 union 產生新物件，原物件不變
s10 = s10.difference(s5) #返回 s10 和 s5 的差集,產生一個新物件,再賦值給 s10
print(s10)

{'here', 'he', 'hello', 'her'}
frozenset({'FRI', 'SUN', 'SAT', 'THU', 'TUE', 'WED', 'MON'})
frozenset({'FRI', 'SUN', 'hello', 'SAT', 'here', 'THU', 'TUE', 'WED', 'MON', 'he', 'her'})
{'FRI', 'SUN', 'WED', 'her', 'hello', 'SAT', 'here', 'THU', 'TUE', 'MON', 'he'}
{'here', 'he', 'hello', 'her'}
{'FRI', 'SUN', 'SAT', 'THU', 'TUE', 'WED', 'MON'}

In [24]:
##將一個串列與集合 s6 聯合
L1 = [1,2,3]
s11 = s6. union(L1)
print(s11)
print(s11.issuperset( {1}) )
print(s11.issuperset( []))
##判斷 1 是否在 sl1集合中不能用 int 類型，要用串列類型或集合類型
s11.issuperset(1)
s11.issuperset(1)

frozenset({1, 'FRI', 2, 'SUN', 3, 'SAT', 'THU', 'TUE', 'WED', 'MON'})
True
True

TypeError: 'int' object is not iterable

In [25]:
#建立集合 s2 表示第一小隊隊員序號 ，s3 表示第二小隊隊員序號。
s2  = {1,2,3,4,5}
s3 = {6,7,8,9,10}
#使用投票資料建立集合 sl ,集合去重複後表示獲得了選票的隊員序號。
sl = {1,5,9 ,3,9,1,1,7,5,7,7 ,3,3,3,1,5,7 ,4 ,4 ,5,4 ,9 ,5,5,9}
print(sl) 
print(sl- s3)#第一小隊獲得選票的隊員有
print(s2 - (sl- s3)) #第一小隊沒有獲得選票的隊員有
print(sl- s2)#第二小隊獲得選票的隊員有
print(s3 - (sl- s2)) #第二小隊沒有獲得選票的隊員有

{1, 3, 4, 5, 7, 9}
{1, 3, 4, 5}
{2}
{9, 7}
{8, 10, 6}

In [26]:
d1 = {0: 'SUN',1: 'MON',2: 'TUE' ,3: 'WED' ,4: 'THU',5: 'FRI' ,6: 'SAT'}
print(d1)

{0: 'SUN', 1: 'MON', 2: 'TUE', 3: 'WED', 4: 'THU', 5: 'FRI', 6: 'SAT'}

In [27]:
test = {"test":{"mytest" :10} }
print(test)

{'test': {'mytest': 10}}

In [28]:
monthdays  =  dict(  Jan  = 31 ,Feb = 28 ,Mar = 31,Apr = 30 ,May = 31,Jun = 30 ,Jul = 31 ,Aug=31,Sep=30,Oct=31,Nov= 30 ,Dec= 31  )
print(monthdays)

{'Jan': 31, 'Feb': 28, 'Mar': 31, 'Apr': 30, 'May': 31, 'Jun': 30, 'Jul': 31, 'Aug': 31, 'Sep': 30, 'Oct': 31, 'Nov': 30, 'Dec': 31}

In [29]:
weekday = dict(a0= 'SUN',a1 = 'MON' ,a2 = 'TUE" ,a3 = ‘WED' ,a4 = 'THU' ,a5 = 'FRI' ,a6 = 'SAT')
print(weekday)
#weekday = dict(0 = 'SUN',1 = 'MON' ,2  = 'TUE' ,3  = ,’WED' ,4  =’THU',5 = 'FRI' ,6  = 'SAT' )

{'a0': 'SUN', 'a1': 'MON', 'a2': 'TUE" ,a3 = ‘WED', 'a4': 'THU', 'a5': 'FRI', 'a6': 'SAT'}

In [30]:
print(monthdays["Jan"])
print(monthdays[ "Jau"])

31

KeyError: 'Jau'

In [31]:
monthdays["Jan"] = 30
print(monthdays)

{'Jan': 30, 'Feb': 28, 'Mar': 31, 'Apr': 30, 'May': 31, 'Jun': 30, 'Jul': 31, 'Aug': 31, 'Sep': 30, 'Oct': 31, 'Nov': 30, 'Dec': 31}

In [32]:
monthdays[ "test"] = 30
print(monthdays)

{'Jan': 30, 'Feb': 28, 'Mar': 31, 'Apr': 30, 'May': 31, 'Jun': 30, 'Jul': 31, 'Aug': 31, 'Sep': 30, 'Oct': 31, 'Nov': 30, 'Dec': 31, 'test': 30}

In [33]:
del  monthdays[ "test"]
print(monthdays)

{'Jan': 30, 'Feb': 28, 'Mar': 31, 'Apr': 30, 'May': 31, 'Jun': 30, 'Jul': 31, 'Aug': 31, 'Sep': 30, 'Oct': 31, 'Nov': 30, 'Dec': 31}

In [34]:
d1 = {(3,1) :3,(3,2) :6,(3,3) :9,(3,4) :12,(3,5.) :15,(3,6) :18,(3,7) :21,(3,8) :24,(3,9) :27}
print(d1)
print(d1[(3,9)])

{(3, 1): 3, (3, 2): 6, (3, 3): 9, (3, 4): 12, (3, 5.0): 15, (3, 6): 18, (3, 7): 21, (3, 8): 24, (3, 9): 27}
27

In [35]:
scores = {85 :"Apple",74:"Ball",92:"Car",88:"Donkey",63:"Horse"} 
print(scores)
L1 = list (scores.keys())
print(L1)
L1.sort(reverse = True)
print(L1)
L2 = []
L2.append(scores[L1[0]])
L2.append(scores[L1[1]])
L2.append(scores[L1[2]])
L2.append(scores[L1[3]])
L2.append(scores[L1[4]])
print(L2)

{85: 'Apple', 74: 'Ball', 92: 'Car', 88: 'Donkey', 63: 'Horse'}
[85, 74, 92, 88, 63]
[92, 88, 85, 74, 63]
['Car', 'Donkey', 'Apple', 'Ball', 'Horse']